<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 mb-2">
  {{#each site.pages as |page|}}
    <div class="col">
      <div class="card text-center h-100">
        <a href="{{#if (equals ../site.data.lang "ru-ua")}}/ru{{/if}}/pages/{{page.id}}">
          <img src="{{page.img}}" class="card-img-top" alt="{{page.name}}">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="{{#if (equals ../site.data.lang "ru-ua")}}/ru{{/if}}/pages/{{page.id}}">{{page.name}}</a></h5>
          <p class="card-text">{{page.preview}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="lead my-3">
  {{{site.about}}}
</div>