<div class="my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{#if (equals site.data.lang "ru-ua")}}ru{{/if}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover"><i class="bi bi-house"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">{{page.name}}</li>
    </ol>
  </nav>
  <h1>{{page.name}}</h1>
  <div class="lead">
    {{{page.about}}}
  </div>
  {{#if page.products}}
  <h2 class="mt-5">{{site.locale.products}}</h2>
  <div class="table-responsive-lg mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{{site.locale.name}}</th>
          <th scope="col">{{site.locale.price}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each page.products as |product|}}
          <tr>
            <th scope="row"><a href="{{../site.rzkDomain}}/o/{{product.objectId}}/p/{{product.id}}" target="_blank">{{product.name}}</a> ({{product.id}})</th>
            <td>{{product.price}} {{../site.currency}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>  
  </div>
  {{/if}}
</div>