<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Торговельні об'єкти</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}/c">Каталог товарів</a></li>
    <li class="breadcrumb-item">
      <a href="/o/{{object.id}}/c/{{product.catalog.parentId}}">⬅️ Назад</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="/o/{{object.id}}/c/{{product.catalog.id}}">{{product.catalog.name}}</a>
    </li>
  </ol>
</nav>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
  <div class="col">
    <div class="card text-center h-100">
      <img src="{{product.imgUrl}}" onerror="this.src = '/icons/cart3.svg';" class="card-img-top" alt="{{product.name}}">
      <div class="card-body">
        <h5>{{product.name}} <small class="text-muted">({{product.id}})</small></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="//t.me/RzkMarketBot?start=o_{{object.id}}_p_{{product.id}}" target="_blank" class="btn btn-primary">Telegram @RzkMarketBot</a>
        </li>
      </ul>
      <div class="card-footer">
        <h3>
          {{product.price}} <small class="text-muted">{{currencyName}}</small>
        </h3>
        <div class="d-grid gap-2">
          <button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal" data-bs-id="{{product.id}}" data-bs-name="{{product.name}}" data-bs-unit="{{product.unit}}" data-bs-qty="{{product.qty}}">
            {{#if product.qty}}{{product.qty}} {{product.unit}} {{product.sum}} {{currencyName}}{{else}}Купити{{/if}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{> modalAddToCart}}
