<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Торговельні об'єкти</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Заказ #{{shareOrder.orderNumber}}</li>
  </ol>
</nav>
<h4>
  {{shareOrder.lastName}} {{shareOrder.firstName}} {{shareOrder.createdAt}} {{shareOrder.status}}
</h4>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption>Загальна кількість {{totalQty}}, Загальна сума <strong class="text-nowrap">{{totalSum}} {{currencyName}}</strong></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Код товару</th>
        <th scope="col">Найменування</th>
        <th scope="col">Кількість</th>
        <th scope="col">Ціна</th>
        <th scope="col">Сума</th>
      </tr>
    </thead>
    <tbody>
      {{#each products as |product|}}
      <tr>
        <th scope="row">{{product.index}}</th>
        <td><strong class="text-nowrap">{{product.id}}</strong></td>
        <td><a href="{{product.url}}">{{product.name}}</a></td>
        <td><strong class="text-nowrap">{{product.qty}}</strong></td>
        <td><strong class="text-nowrap">{{product.price}} {{../currencyName}}</strong></td>
        <td><strong class="text-nowrap">{{product.sum}} {{../currencyName}}</strong></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
