<!doctype html>
  <html lang="uk">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/css/navbar-top-fixed.css" rel="stylesheet">
      <title>{{#if title}}{{title}} - {{/if}}Маркетплейс RZK Маркет Україна: якісна електрика, електротовари в Києві купити, кабель, провід, вимикачі та розетки</title>
      <link rel="icon" href="/logo.svg">
      <meta name="description" content="{{#if description}}{{description}}{{else}}Маркетплейс RZK Маркет Україна: кабель, провід, розетки, вимикачі,
      автоматика, електротовари в Києві ✓ Доставка по всій Україні $ Выгідні ціни та знижки %{{/if}}">
      <meta name="keywords" content="{{keywords}}, rzk маркет україна, rzk, розетка, вимикач надир абсеметов, онлайн-гіпермаркет">
      <meta name="robots" content="index,follow">
      <meta name="author" content="Nadir Absemetov">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TD3C9HNSL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", "G-XYQS50Y6P4");
      </script>
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler d-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="d-none d-sm-inline ps-3 me-auto" href="/">
            <img src="/logo-long.svg" alt="" width="" height="40">
          </a>
          <a class="d-inline d-sm-none ps-3 me-auto" href="/">
            <img src="/logo.svg" alt="" width="" height="40">
          </a>
          <ul class="navbar-nav me-2">
            {{#if object.id}}
            <li class="nav-item"></li>
              <a class="text-nowrap nav-link{{#if cart}} active{{/if}} position-relative" href="/o/{{object.id}}/cart">
                Кошик <strong id="totalSumNav">{{object.cartInfo.totalSum}} {{currencyName}}</strong>
                <span id="cartCountNav" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-1">
                  {{object.cartInfo.cartCount}}
                  <span class="visually-hidden">count goods</span>
                </span>
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RZK Маркет Україна</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p class="lead">RZK Маркет Україна - це маркетплейс, тут можна купити товари за вигідними цінами безпосередньо зі складу.
            Ми повністю контролюємо процес обробки замовлення. З нами легко, швидко та зручно!
          </p>
          <nav class="nav flex-column">
            {{#if user.auth}}
              <a class="nav-link" href="/login">{{user.firstName}}</a>
            {{else}}
              <a class="nav-link" href="/login">Вхід</a>
            {{/if}}
            <a class="nav-link" href="/delivery-info">Доставка та оплата</a>
            <a class="nav-link" href="/return-policy">Повернення товару</a>
            <a class="nav-link" href="//g.page/rzk-com-ua/review?gm">Написати відгук</a>
            <a class="nav-link" href="tel:+380685494100">+380 68 54 94 100</a>
            <a class="nav-link" href="tel:+380735494100">+380 73 54 94 100</a>
            <a class="nav-link text-decoration-none" href="//t.me/RzkMarketBot?start=fromsite">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
              </svg>
              @RzkMarketBot
            </a>
            <a class="nav-link disabled">rzk-warsaw-ua v.2.0.0 © 2022</a>
            <a class="nav-link" href="//absemetov.org.ua/">Nadir Absemetov</a>
          </nav>
        </div>
      </div>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="/js/bootstrap.bundle.min.js"></script>
      <div class="container-fluid">
        {{{body}}}
      </div>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
      -->
    </body>
  </html>
