<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover" href="/{{#if (equals envSite.data.lang "ru-ua")}}ru{{/if}}"><i class="bi bi-house"></i></a></li>
    <li class="breadcrumb-item"><a class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover" href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}/news">{{envSite.i18n.tNews}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{news.title}}</li>
  </ol>
</nav>
<h1>{{news.title}}</h1>
<small class="text-muted">{{createdAt}}</small>
<p class="lead">{{{news.body}}}</p>
{{#if products}}
<h4>{{envSite.i18n.tProducts}}</h4>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  {{#each products as |product|}}
    <div class="col">
        <div class="card text-center h-100">
            <a href="{{product.url}}">
              <img src="{{photoProxy product.img1}}" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" class="card-img-top" alt="{{#if (equals ../envSite.data.lang "ru-ua")}}{{product.nameRu}}{{else}}{{product.name}}{{/if}}">
            </a>
            <div class="card-body">
              <h6>{{#if (equals ../envSite.data.lang "ru-ua")}}{{product.nameRu}}{{else}}{{product.name}}{{/if}}</h6>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2">
                <a href="{{product.url}}" class="btn btn-primary" role="button">{{../envSite.i18n.modalShowTitle}}</a>
              </div>
            </div>
        </div>
    </div>
  {{/each}}
</div>
{{/if}}