<div class="col">
  <div class="card text-center h-100">
    <a {{#if smartPhoto}}href="{{photoProxy product.img2 envSite.lang}}" class="js-smartphoto" data-caption="{{product.name}}"{{else}}href="{{product.url}}"{{/if}}>
      <img src="{{photoProxy product.img1 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{product.name}}">
    </a>
    <div class="card-body">
      {{#if product.brand}}<h6>{{product.brand}}</h6>{{/if}}
      <h6>
        {{#if smartPhoto}}
          {{product.name}} <small class="text-muted">({{product.id}})</small>
        {{else}}
          <a href="{{product.url}}">{{product.name}}</a> <small class="text-muted">({{product.id}})</small>
        {{/if}}
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{#if (not product.img2 "/icons/flower3.svg")}}
          <a href="{{photoProxy product.img2 envSite.lang}}" class="js-smartphoto-single text-decoration-none me-3" data-caption="{{product.name}}">
            <img src="/icons/zoom-in.svg" width="21" height="21" alt="zoom img">
          </a>
        {{/if}}
        <a href="https://t.me/share/url?url={{encodeUrl envSite.botName object.id "p" product.id envSite.domain}}&text={{encode object.name product.brand product.name}}" target="_blank">
          <i class="bi bi-telegram"></i> Share
        </a>
      </li>
    </ul>
    <div class="card-footer">
      <h3>
        {{formatNumber product.price}} {{envSite.currency}}
      </h3>
      <div class="d-grid gap-2">
        {{#if product.availability}}
        <button type="button" class="btn {{#if product.qty}}btn-primary{{else}}btn-success{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
          data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
          data-seller-id="{{product.sellerId}}" data-seller="{{object.name}}">
          {{#if product.qty}}{{product.qty}} {{product.unit}} <span class="text-nowrap">{{formatNumber product.sum}} {{envSite.currency}}</span>{{else}}{{envSite.i18n.btnBuy}}{{/if}}
        </button>
        {{else}}
        <button type="button" class="btn btn-success" disabled>
          {{envSite.i18n.btnNotAvailable}}
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>