<div class="col">
  <div class="card text-center h-100">
    <a {{#if smartPhoto}}href="{{product.img2}}" class="js-smartphoto" data-caption="{{product.name}}"{{else}}href="{{product.url}}"{{/if}}>
      <img src="{{product.img1}}" onerror="this.src = '/icons/photo_error.svg';" class="card-img-top" alt="{{product.name}}">
    </a>
    <div class="card-body">
      {{#if product.brand}}<h6>{{product.brand}}</h6>{{/if}}
      <h6>
        <a href="{{product.url}}">{{product.name}}</a> <small class="text-muted">({{product.id}})</small>
        <a href="{{product.img2}}" class="js-smartphoto-single text-decoration-none" data-caption="{{product.name}}">
          <img src="/icons/zoom-in.svg" width="24" height="24" class="m-2" alt="zoom img">
        </a>
        <a href="//t.me/{{envSite.botName}}?start=o_{{object.id}}_p_{{product.id}}" target="_blank" class="ms-2">
          <i class="bi bi-telegram fs-3"></i>
        </a>
      </h6>
    </div>
    <div class="card-footer">
      <h3>
        {{product.price}} <small class="text-muted">{{envSite.currency}}</small>
      </h3>
      <div class="d-grid gap-2">
        <button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
          data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
          data-seller-id="{{product.sellerId}}">
          {{#if product.qty}}{{product.qty}} {{product.unit}} <span class="text-nowrap">{{product.sum}} {{envSite.currency}}</span>{{else}}{{envSite.i18n.btnBuy}}{{/if}}
        </button>
      </div>
    </div>
  </div>
</div>