<div class="col">
  <div class="card text-center{{#unless smartPhoto}} h-100{{/unless}}">
    {{#if smartPhoto}}
      <a href="{{photoProxy product.img2 envSite.lang}}" class="js-smartphoto" data-caption="{{product.name}}">
        <img src="{{photoProxy product.img2 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{product.name}}">
      </a>
    {{else}}
      <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}{{product.url}}">
        <img src="{{photoProxy product.img1 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{product.name}}">
      </a>
    {{/if}}
    <div class="card-body">
      {{#if product.brand}}
        <h6>
          {{#if product.brandSite}}<a href="{{product.brandSite}}">{{product.brand}}</a>{{else}}{{product.brand}}{{/if}}
        </h6>
      {{/if}}
      <h6>
        {{#if smartPhoto}}
          {{product.name}} ({{product.id}})
        {{else}}
          <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}{{product.url}}" class="link-dark link-underline-opacity-0">{{product.name}} ({{product.id}})</a>
        {{/if}}
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Склад: <a href="/o/{{product.objectId}}" class="link-primary link-underline-opacity-0">{{product.objectName}}</a>
      </li>
      <li class="list-group-item">
        {{#if (not product.img2 "/icons/flower3.svg")}}
          <a href="{{photoProxy product.img2 envSite.lang}}" class="js-smartphoto-single text-decoration-none me-3" data-caption="{{product.name}}">
            <img src="/icons/zoom-in.svg" width="21" height="21" alt="zoom img">
          </a>
        {{/if}}
        <a href="https://t.me/share/url?url={{encodeUrl envSite.botName product.objectId "p" product.id envSite.domain}}&text={{encode product.objectName product.brand product.name}}" target="_blank">
          <i class="bi bi-telegram"></i> Share
        </a>
      </li>
    </ul>
    <div class="card-footer">
      <h3>
        {{formatNumber product.price}} {{envSite.currency}}
      </h3>
      <div class="d-grid gap-2">
        {{#if product.availability}}
        <button type="button" class="btn {{#if product.qty}}btn-primary{{else}}btn-success{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
          data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
          data-seller-id="{{product.objectId}}" data-seller="{{product.objectName}}">
          {{#if product.qty}}{{product.qty}} {{product.unit}} <span class="text-nowrap">{{formatNumber product.sum}} {{envSite.currency}}</span>{{else}}{{envSite.i18n.btnBuy}}{{/if}}
        </button>
        {{else}}
        <button type="button" class="btn btn-success" disabled>
          {{envSite.i18n.btnNotAvailable}}
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>