<div class="col">
  <div class="card text-center h-100">
    <a {{#if smartPhoto}}href="{{photoError product.img2 envSite.lang}}" class="js-smartphoto" data-caption="{{product.name}}"{{else}}href="{{product.url}}"{{/if}}>
      <img src="{{photoError product.img1 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{product.name}}">
    </a>
    <div class="card-body">
      {{#if product.brand}}<h6>{{product.brand}}</h6>{{/if}}
      <h6>
        {{#if smartPhoto}}
          {{product.name}} <small class="text-muted">({{product.id}})</small>
        {{else}}
          <a href="{{product.url}}">{{product.name}}</a> <small class="text-muted">({{product.id}})</small>
        {{/if}}
        <div class="mt-2">
          <a href="{{photoError product.img2 envSite.lang}}" class="js-smartphoto-single text-decoration-none" data-caption="{{product.name}}">
            <img src="/icons/zoom-in.svg" width="28" height="28" class="me-2" alt="zoom img">
          </a>
          <a href="https://t.me/share/url?url={{encodeUrl envSite.botName object.id "p" product.id envSite.domain}}&text={{encode object.name product.brand product.name}}" target="_blank">
            <i class="bi bi-telegram fs-4"></i>
          </a>
        </div>
      </h6>
    </div>
    <div class="card-footer">
      <h3>
        {{formatNumber product.price}} {{envSite.currency}}
      </h3>
      <div class="d-grid gap-2">
        {{#if product.availability}}
        <button type="button" class="btn {{#if product.qty}}btn-primary{{else}}btn-success{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
          data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
          data-seller-id="{{product.sellerId}}" data-seller="{{object.name}}">
          {{#if product.qty}}{{product.qty}} {{product.unit}} <span class="text-nowrap">{{formatNumber product.sum}} {{envSite.currency}}</span>{{else}}{{envSite.i18n.btnBuy}}{{/if}}
        </button>
        {{else}}
        <button type="button" class="btn btn-success" disabled>
          {{envSite.i18n.btnNotAvailable}}
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>