<h1><a href="/o/{{object.id}}">{{object.name}}</a></h1>
{{#each object.phoneArray as |phone|}}
  <li>
    <a href="tel:{{phone}}">{{phone}}</a>
  </li>
{{/each}}
<h1>{{object.address}}</h1>
<h1>{{object.description}}</h1>
<h1>Корзина</h1>
{{#if products}}
  <ul>
  {{#each products as |product|}}
    <li>
      <a href="{{product.url}}">{{product.id}} {{product.name}} {{product.price}} {{../currencyName}}</a>
      <!-- Button trigger modal -->
      <button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal" data-bs-id="{{product.id}}" data-bs-name="{{product.name}}" data-bs-unit="{{product.unit}}" data-bs-qty="{{product.qty}}">
        {{#if product.qty}}{{product.qty}} {{product.unit}} {{product.sum}} {{../currencyName}}{{else}}Добавить товар{{/if}}
      </button>
    </li>
  {{/each}}
  </ul>
  <a href="/o/{{object.id}}/cart/purchase">Оформить заказ</a>
  {{> modalAddToCart}}
{{else}}
  <h3>Корзина пуста <a href="/o/{{object.id}}/c">Выбрать товары</a></h3>
{{/if}}
