<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{envSite.i18n.aObjects}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{envSite.i18n.aCart}}</li>
  </ol>
</nav>
{{#if productsImport}}
  <ul class="list-group">
  {{#each productsImport as |product|}}
    <li class="list-group-item">{{inc @index 1}}. {{product.id}} = {{product.qty}}</li>
  {{/each}}
  </ul>
  <a href="?{{productParam}}&import=true" class="btn btn-success my-3">{{envSite.i18n.cartImport}}</a>
{{/if}}
<h1>{{object.name}} / {{envSite.i18n.aCart}}</h1>
{{#if products}}
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 my-3">
  {{#each products as |product|}}
    {{> product product=product object=../object envSite=../envSite}}
  {{/each}}
  </div>
  <div class="row">
    <h5>{{envSite.i18n.tQty}}: <strong id="totalQty">{{object.cartInfo.totalQty}}</strong></h5>
  </div>
  <div class="row">
    <h4>{{envSite.i18n.tSum}}: <strong class="text-nowrap" id="totalSum">{{formatNumber object.cartInfo.totalSum}} {{envSite.currency}}</strong></h4>
  </div>
  <div class="my-3">
    <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#purchaseModal">
      {{envSite.i18n.btnPurchase}}
    </button>
    <a href="?clear=true" class="btn btn-primary mt-3">{{envSite.i18n.btnСlearCart}}</a>
    <a href="/o/{{object.id}}/pdf?docId={{envSite.user.uid}}" target="_blank" class="btn btn-primary mt-3">{{envSite.i18n.btnSavePdf}}</a>
    {{#if admin}}
      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#receiptModaL">Печать</button>
    {{/if}}
  </div>
{{else}}
  <h3>{{envSite.i18n.tCartEmpty}} <a href="/o/{{object.id}}/c">{{envSite.i18n.aChuseGoods}}</a></h3>
{{/if}}
<!-- Modal purchase -->
<div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{envSite.i18n.modalPurchase.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="purchase" action="/o/{{object.id}}/cart/purchase">
          {{#unless envSite.user.auth}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <a href="/login?r={{object.id}}"><i class="bi bi-person-circle"></i> {{envSite.i18n.aLoginTelegram}}</a>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {{/unless}}
          <div class="mb-3">
            <label for="lastName" class="form-label">{{envSite.i18n.modalPurchase.lastName}}</label>
            <input type="text" class="form-control" name="lastName" id="lastName" title="{{envSite.i18n.modalPurchase.lastName}}" aria-describedby="lastName" required autofocus>
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">{{envSite.i18n.modalPurchase.firstName}}</label>
            <input type="text" class="form-control" name="firstName" id="firstName" title="{{envSite.i18n.modalPurchase.firstName}}" aria-describedby="firstName" required>
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">{{envSite.i18n.modalPurchase.phoneNumber}}</label>
            <input type="tel" pattern="{{envSite.phoneregexp}}" placeholder="{{envSite.phonetemplate}}" class="form-control" name="phoneNumber" id="phoneNumber" title="{{envSite.phonetemplate}}" aria-describedby="phoneNumber" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">{{envSite.i18n.modalPurchase.address}}</label>
            <input type="text" class="form-control" name="address" id="address" title="{{envSite.i18n.modalPurchase.address}}" aria-describedby="address" required>
          </div>
          <div class="mb-3">
            <label for="carrierId" class="form-label">{{envSite.i18n.modalPurchase.carrier}}</label>
            <select name="carrierId" id="carrierId" class="form-select" aria-label="carrierId">
              {{#each carriers as |carrier|}}
                <option value="{{carrier.id}}" data-bs-reqnumber="{{carrier.reqNumber}}">{{carrier.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3" id="carrierNumberDiv">
            <label for="carrierNumber" class="form-label">{{envSite.i18n.modalPurchase.carrierNumber}}</label>
            <input type="number" min="1" class="form-control" name="carrierNumber" id="carrierNumber" title="{{envSite.i18n.modalPurchase.carrierNumber}}" aria-describedby="carrierNumberFeedback">
            <div id="carrierNumberFeedback" class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label for="paymentId" class="form-label">{{envSite.i18n.modalPurchase.payment}}</label>
            <select name="paymentId" id="paymentId" class="form-select" aria-label="paymentId">
              {{#each payments as |payment|}}
                <option value="{{payment.id}}">{{payment.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">{{envSite.i18n.modalPurchase.comment}}</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
          </div>
          <button type="submit" id="createOrderButton" class="btn btn-success">{{envSite.i18n.btnPurchaseConfirm}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Receipt-->
  <div class="modal fade" id="receiptModaL" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Сдача клиенту</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="receiptSum" class="h5"></div>
          <div class="input-group mb-3">
            <input type="number" min="0" id="cash" name="cash" class="form-control" placeholder="Введите сумму">
            <span class="input-group-text">руб</span>
          </div>
          <div id="change" class="h3"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="receiptCash">Print receip</button>
        </div>
      </div>
    </div>
  </div>
<script>
  const cashInput = document.getElementById("cash");
  const btnReceipt = document.getElementById("receiptCash");
  cashInput.addEventListener("input", updateValue);
  const receiptSum = document.getElementById("receiptSum");
  const log = document.getElementById("change");
  // focus cash
  const receiptModaL = document.getElementById("receiptModaL");
  receiptModaL.addEventListener("shown.bs.modal", async (event) => {
    cashInput.focus();
  });
  receiptModaL.addEventListener("show.bs.modal", async (event) => {
    const totalSumText = document.getElementById("totalSum").innerText;
    const totalSum = parseInt(totalSumText.replace(/\s/g, ""));
    receiptSum.textContent = `К оплате: ${totalSum} ₽`;
  });
  function updateValue(e) {
    const totalSumText = document.getElementById("totalSum").innerText;
    const totalSum = parseInt(totalSumText.replace(/\s/g, ""));
    const change = e.target.value - totalSum;
    log.textContent = "";
    btnReceipt.removeAttribute("data-cash");
    btnReceipt.removeAttribute("data-change");
    if (change >= 0) {
      log.textContent = `Сдача: ${change} ₽`;
      btnReceipt.setAttribute("data-cash", e.target.value);
      btnReceipt.setAttribute("data-change", change);
    }
  }
  // print receipt to thermal printer
  btnReceipt.addEventListener("click", (event) => {
    const buttondata = event.target;
    const cash = buttondata.dataset.cash; 
    const change = buttondata.dataset.change;
    window.location.replace(`my.bluetoothprint.scheme://https://rzk.com.ru/o/saki/cart/json?cash=${cash}&change=${change}`);
  });
</script>