<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Торговые объекты</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
  </ol>
</nav>
{{#if products}}
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 pb-3">
  {{#each products as |product|}}
    <div class="col">
      <div class="card text-center h-100">
        <a href="{{product.url}}">
          <img src="{{product.img1}}" onerror="this.src = '/icons/photo_error.svg';" class="card-img-top" alt="{{product.name}}">
        </a>
        <div class="card-body">
          {{#if product.brand}}<h6>{{product.brand}}</h6>{{/if}}
          <h6>
            <a href="{{product.url}}">{{product.name}}</a> <small class="text-muted">({{product.id}})</small>
            <a href="//t.me/RzkCrimeaBot?start=o_{{../object.id}}_p_{{product.id}}" target="_blank" class="ps-1 text-decoration-none">
              <i class="bi bi-telegram"></i>
            </a>
            <a href="{{product.img2}}" class="js-smartphoto-single" data-caption="{{product.name}}">
              <img src="/icons/zoom-in.svg" width="24" height="24" class="m-2" alt="zoom img">
            </a>
          </h6>
        </div>
        <div class="card-footer">
          <h3>
            {{product.price}}<small class="text-muted">{{../currencyName}}</small>
          </h3>
          <div class="d-grid gap-2">
            <button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
              data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
              data-seller-id="{{../object.id}}">
              {{#if product.qty}}{{product.qty}}{{product.unit}} {{product.sum}}{{../currencyName}}{{else}}Купить{{/if}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
  <div class="row">
    <div class="col">
      <h5>Количество: <strong id="totalQty">{{object.cartInfo.totalQty}}</strong></h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Cумма: <strong class="text-nowrap" id="totalSum">{{object.cartInfo.totalSum}} {{currencyName}}</strong></h5>
    </div>
  </div>
  <a class="btn btn-primary my-4" href="/o/{{object.id}}/cart/purchase">Оформить заказ</a>
{{else}}
  <h3>Корзина пуста <a href="/o/{{object.id}}/c">Выбрать товары</a></h3>
{{/if}}
