<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{envSite.i18n.aObjects}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    {{#if currentCatalog}}
      <li class="breadcrumb-item"><a href="/o/{{object.id}}/c">{{envSite.i18n.aCatGoods}}</a></li>
      {{#each currentCatalog.pathArray as |item|}}
        <li class="breadcrumb-item">
          <a href="/o/{{../object.id}}/c/{{item.url}}">{{item.name}}</a>
        </li>
      {{/each}}
    {{else}}
      <li class="breadcrumb-item active">{{envSite.i18n.aCatGoods}}</li>  
    {{/if}}
  </ol>
</nav>
{{#if tags}}
  <div class="dropdown mb-3">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{envSite.i18n.btnFilter}}
      {{#if tagActive.name}}
        [{{tagActive.name}}]
      {{/if}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each tags as |tag|}}
        <li><a class="dropdown-item{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{tag.text}}</a></li>
      {{/each}}
      {{#if tagActive.name}}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{tagActive.path}}">{{envSite.i18n.aAllGoods}}</a></li>
      {{/if}}
    </ul>
  </div>
{{/if}}
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  {{#if catalogs}}
    {{#each catalogs as |catalog|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{catalog.url}}">
            <img src="{{catalog.img1}}" class="card-img-top" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" alt="{{catalog.name}}">
          </a>
          <div class="card-body">
            <h6>
              <a href="{{catalog.url}}">{{catalog.name}}</a>
              <div class="mt-2">
                <a href="{{catalog.img2}}" class="js-smartphoto-single text-decoration-none" data-caption="{{catalog.name}}">
                  <img src="/icons/zoom-in.svg" width="28" height="28" class="me-2" alt="zoom img">
                </a>
                <a href="//t.me/{{../envSite.botName}}?start=o_{{../object.id}}_c_{{catalog.id}}" target="_blank">
                  <i class="bi bi-telegram fs-4"></i>
                </a>
              </div>
            </h6>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{#if products}}
    {{#each products as |product|}}
      {{> product product=product object=../object envSite=../envSite}}
    {{/each}}
  {{/if}}
</div>
{{#if prevNextLinks}}
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-4">
      {{#each prevNextLinks as |prevNextLink|}}
        <li class="page-item"><a class="page-link{{#if prevNextLink.show}} disabled{{/if}}" href="{{prevNextLink.url}}" title="{{prevNextLink.text}}">
        <i class="bi {{prevNextLink.icon}}"></i></a></li>
      {{/each}}
    </ul>
  </nav>
{{/if}}
