<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Торговые объекты</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}/c">Каталог товаров</a></li>
    {{#if currentCatalog}}
      {{#if currentCatalog.parentId}}
        <li class="breadcrumb-item">
          <a href="/o/{{object.id}}/c/{{currentCatalog.parentId}}"><i class="bi bi-arrow-left"></i> Назад</a>
        </li>
      {{/if}}
      <li class="breadcrumb-item" aria-current="page">
        <a href="/o/{{object.id}}/c/{{currentCatalog.id}}">{{currentCatalog.name}}</a>
        <a href="//t.me/RzkCrimeaBot?start=o_{{object.id}}_c_{{currentCatalog.id}}" target="_blank" class="ps-1 text-decoration-none">
          <i class="bi bi-telegram"></i>
        </a>
      </li>
    {{/if}}
  </ol>
</nav>
{{#if tags}}
  <div class="dropdown mb-3">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Фильтр
      {{#each tags as |tag|}}
        {{#if tag.active}}[{{tag.text}}]{{/if}}
      {{/each}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each tags as |tag|}}
        <li><a class="dropdown-item{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{tag.text}}</a></li>
      {{/each}}
      {{#each tags as |tag|}}
        {{#if tag.active}}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/o/{{../object.id}}/c/{{../currentCatalog.id}}">Все товары</a></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 pb-3">
  {{#if catalogs}}
    {{#each catalogs as |catalog|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{catalog.url}}">
            <img src="{{catalog.img1}}" class="card-img-top" onerror="this.src = '/icons/photo_error.svg';" alt="{{catalog.name}}">
          </a>
          <div class="card-body">
            <h6>
              <a href="{{catalog.url}}">{{catalog.name}}</a>
              <a href="{{catalog.img2}}" class="js-smartphoto-single" data-caption="{{catalog.name}}">
                <img src="/icons/zoom-in.svg" width="24" height="24" class="m-2" alt="zoom img">
              </a>
            </h6>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{#if products}}
    {{#each products as |product|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{product.url}}">
            <img src="{{product.img1}}" onerror="this.src = '/icons/photo_error.svg';" class="card-img-top" alt="{{product.name}}">
          </a>
          <div class="card-body">
            {{#if product.brand}}<h6>{{product.brand}}</h6>{{/if}}
            <h6>
              <a href="{{product.url}}">{{product.name}}</a> <small class="text-muted">({{product.id}})</small>
              <a href="//t.me/RzkCrimeaBot?start=o_{{../object.id}}_p_{{product.id}}" target="_blank" class="ps-1 text-decoration-none">
                <i class="bi bi-telegram"></i>
              </a>
              <a href="{{product.img2}}" class="js-smartphoto-single" data-caption="{{product.name}}">
                <img src="/icons/zoom-in.svg" width="24" height="24" class="m-2" alt="zoom img">
              </a>
            </h6>
          </div>
          <div class="card-footer">
            <h3>
              {{product.price}}<small class="text-muted">{{../envSite.currency}}</small>
            </h3>
            <div class="d-grid gap-2">
              <button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal"
                data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-unit="{{product.unit}}" data-product-qty="{{product.qty}}"
                data-seller-id="{{../object.id}}">
                {{#if product.qty}}{{product.qty}}{{product.unit}} {{product.sum}}{{../envSite.currency}}{{else}}Купить{{/if}}
              </button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>
{{#if prevNextLinks}}
  <nav aria-label="Page navigation example">
    <ul class="pagination pb-3">
      {{#each prevNextLinks as |prevNextLink|}}
        <li class="page-item"><a class="page-link" href="{{prevNextLink.url}}">{{prevNextLink.text}}</a></li>
      {{/each}}
    </ul>
  </nav>
{{/if}}
