
<nav aria-label="breadcrumb">
  <ol class="breadcrumb text-nowrap">
    <li class="breadcrumb-item">
      <a href="/">{{envSite.i18n.aObjects}}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/o/{{object.id}}">{{object.name}}</a>
    </li>
    {{#if currentCatalog}}
      <li class="breadcrumb-item">
        <a href="/o/{{object.id}}/c">{{envSite.i18n.aCatGoods}}</a>
      </li>
      {{#each currentCatalog.pathArray as |item|}}
        {{#if (last @index ../currentCatalog.pathArray.length)}}
          <li class="breadcrumb-item">
            <a href="/o/{{../object.id}}/c/{{item.url}}">{{item.name}}</a>
          </li>
        {{else}}
          <li class="breadcrumb-item active">{{../currentCatalog.name}}</li>
        {{/if}}
      {{/each}}
    {{else}}
      <li class="breadcrumb-item active">{{envSite.i18n.aCatGoods}}</li>  
    {{/if}}
  </ol>
</nav>
{{#if currentCatalog}}
  <h1>{{object.name}} / {{currentCatalog.name}}</h1>
{{else}}
  <h1>{{object.name}} / {{envSite.i18n.aCatGoods}}</h1>
{{/if}}
{{#if tags}}
  <div class="dropdown d-block d-md-none mt-3">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{envSite.i18n.btnFilter}}
      {{#if tagActive.name}}
        [{{tagActive.name}}]
      {{/if}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each tags as |tag|}}
        <li><a class="dropdown-item{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{tag.text}}</a></li>
      {{/each}}
      {{#if tagActive.name}}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{tagActive.path}}">{{envSite.i18n.aAllGoods}}</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="row d-none d-md-block mt-3">
    <ul class="nav nav-pills">
      {{#if tagActive.name}}
        <a class="nav-link" href="{{tagActive.path}}">{{envSite.i18n.aAllGoods}}</a>
      {{/if}}
      {{#each tags as |tag|}}
        <li class="nav-item">
          <a class="nav-link{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{catalog.name}} {{tag.text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 my-3">
  {{#if catalogs}}
    {{#each catalogs as |catalog|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{catalog.url}}">
            <img src="{{photoProxy catalog.img1 ../envSite.lang}}" class="card-img-top" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" alt="{{catalog.name}}">
          </a>
          <div class="card-body">
            <h6>
              <a href="{{catalog.url}}">{{catalog.name}}</a>
            </h6>
          </div>
          <div class="card-footer">
            {{#if (not catalog.img2 "/icons/folder2.svg")}}
              <a href="{{photoProxy catalog.img2 ../envSite.lang}}" class="js-smartphoto-single text-decoration-none me-3" data-caption="{{catalog.name}}">
                <img src="/icons/zoom-in.svg" width="21" height="21" alt="zoom img">
              </a>
            {{/if}}
            <a href="https://t.me/share/url?url={{encodeUrl ../envSite.botName ../object.id "c" catalog.id ../envSite.domain}}&text={{encode ../object.name catalog.name}}" target="_blank">
              <i class="bi bi-telegram"></i> Share
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{#if products}}
    {{#each products as |product|}}
      {{> product product=product object=../object envSite=../envSite}}
    {{/each}}
  {{/if}}
</div>
{{#if products}}
  {{#if loadMore}}
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-4">
        <li class="page-item"><a class="page-link{{#if prevLink.hide}} disabled{{/if}}" href="{{prevLink.url}}"><i class="bi bi-chevron-left"></i> {{envSite.i18n.aPagPrevious}}</a></li>
        <li class="page-item"><a class="page-link{{#if nextLink.hide}} disabled{{/if}}" href="{{nextLink.url}}">{{envSite.i18n.aPagNext}} <i class="bi bi-chevron-right"></i></a></li>
      </ul>
    </nav>
  {{/if}}
{{/if}}
{{#if currentCatalog.desc}}
  <p class="lead"><h2>{{currentCatalog.desc}}</h2></p>
{{/if}}