
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/{{#if (equals envSite.data.lang "ru-ua")}}ru{{/if}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover"><i class="bi bi-house"></i></a>
    </li>
    {{#if currentCatalog}}
      <li class="breadcrumb-item">
        <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}/c" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">{{envSite.i18n.aCatGoods}}</a>
      </li>
      {{#if (last 1 currentCatalog.pathArray.length 2)}}
      <li class="breadcrumb-item d-block d-md-none">
        ...
      </li>
      {{/if}}
      {{#each currentCatalog.pathArray as |item|}}
        {{#if (last @index ../currentCatalog.pathArray.length 2)}}
          <li class="breadcrumb-item {{#if (last @index ../currentCatalog.pathArray.length 3)}}d-none d-md-inline{{/if}}">
            <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}/c/{{item.url}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">
            {{#if (equals ../envSite.data.lang "ru-ua")}}
              {{#if item.nameRu}}
                {{item.nameRu}}
              {{else}}
                {{item.name}}
              {{/if}}
            {{else}}
              {{item.name}}
            {{/if}}
            </a>
          </li>
        {{else}}
          <li class="breadcrumb-item active">{{../currentCatalog.name}}</li>
        {{/if}}
      {{/each}}
    {{else}}
      <li class="breadcrumb-item active">{{envSite.i18n.aCatGoods}}</li>  
    {{/if}}
  </ol>
</nav>
{{#if currentCatalog}}
  <h1>{{currentCatalog.name}}</h1>
{{else}}
  <h1>{{envSite.i18n.aCatGoods}}</h1>
{{/if}}
{{#if tags}}
  <div class="dropdown d-block d-md-none mt-3">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{envSite.i18n.btnFilter}}
      {{#if tagActive.name}}
        [{{tagActive.name}}]
      {{/if}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each tags as |tag|}}
        <li><a class="dropdown-item{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{tag.text}}</a></li>
      {{/each}}
      {{#if tagActive.name}}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{tagActive.path}}">{{envSite.i18n.aAllGoods}}</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="row d-none d-md-block mt-2">
    <ul class="nav nav-pills">
      {{#if tagActive.name}}
        <a class="nav-link" href="{{tagActive.path}}">{{envSite.i18n.aAllGoods}}</a>
      {{/if}}
      {{#each tags as |tag|}}
        <li class="nav-item">
          <a class="nav-link{{#if tag.active}} active{{/if}}" href="{{tag.url}}">{{catalog.name}} {{tag.text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 my-2">
  {{#if catalogs}}
    {{#each catalogs as |catalog|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}{{catalog.url}}">
            <img src="{{photoProxy catalog.img1 ../envSite.lang}}" class="card-img-top" alt="{{catalog.name}}">
          </a>
          <div class="card-body">
            <h6>
              <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}{{catalog.url}}" class="link-dark link-underline-opacity-0">{{catalog.name}}</a>
            </h6>
          </div>
          <div class="card-footer">
            {{#if (not catalog.img2 "/icons/folder2.svg")}}
              <a href="{{photoProxy catalog.img2 ../envSite.lang}}" class="js-smartphoto-single text-decoration-none me-3" data-caption="{{catalog.name}}">
                <img src="/icons/zoom-in.svg" width="21" height="21" alt="zoom img">
              </a>
            {{/if}}
            <a href="{{encodeUrl ../envSite.botName "_" "c" catalog.id ../envSite.domain catalog.name}}" target="_blank">
              <i class="bi bi-telegram"></i> Share
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{#if products}}
    {{#each products as |product|}}
      {{> product product=product envSite=../envSite}}
    {{/each}}
  {{/if}}
</div>
{{#if products}}
  {{#if loadMore}}
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-4">
        <li class="page-item"><a class="page-link{{#if prevLink.hide}} disabled{{/if}}" href="{{prevLink.url}}"><i class="bi bi-chevron-left"></i> {{envSite.i18n.aPagPrevious}}</a></li>
        <li class="page-item"><a class="page-link{{#if nextLink.hide}} disabled{{/if}}" href="{{nextLink.url}}">{{envSite.i18n.aPagNext}} <i class="bi bi-chevron-right"></i></a></li>
      </ul>
    </nav>
  {{/if}}
{{/if}}
{{#if currentCatalog.desc}}
  <div class="lead my-5">
    {{{currentCatalog.desc}}}
  </div>
{{/if}}