
{{#if banners}}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {{#each banners as |banner|}}
      <button {{#if (equals @index 0)}}class="active" {{/if}}type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{@index}}" aria-label="Slide {{@index}}"></button>
    {{/each}}
  </div>
  <div class="carousel-inner">
    {{#each banners as |banner|}}
      <div class="carousel-item{{#if (equals @index 0)}} active{{/if}}">
        <a href="{{banner.url}}"><img src="{{photoProxy banner.lgUrl ../envSite.lang}}" class="d-none d-md-block w-100 rounded" alt="Banners lg"></a>
        <a href="{{banner.url}}"><img src="{{photoProxy banner.mdUrl ../envSite.lang}}" class="d-md-none d-block w-100 rounded" alt="Banners md"></a>
      </div>
    {{/each}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{/if}}
<h1 class="display-6 mt-3">{{envSite.i18n.aCatGoods}}</h1>
<div class="list-group my-3">
  {{#each catalogs as |catalog|}}
    <a href="{{catalog.url}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{catalog.name}}
    </a>
  {{/each}}
</div>
{{#if products}}
<div id="products" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 my-2">
  {{#each products as |product|}}
    {{> product product=product envSite=../envSite}}
  {{/each}}
</div>
  {{#if nextUrl}}
    <input class="d-none" id="nextLink" type="text" value="{{nextUrl}}">
  {{/if}}
  <div class="more d-flex justify-content-center my-3">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
{{/if}}