<div class="row mb-4">
  <div class="col-lg-3">
    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive1" aria-labelledby="offcanvasResponsiveLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">{{envSite.i18n.aCatGoods}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive1" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body flex-column">
        <div class="list-group list-group-flush">
          {{#each catalogs as |catalog|}}
            <a href="/search/{{catalog.url}}" data-value="Cat 1" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              {{catalog.name}} <span class="badge bg-success rounded-pill">{{catalog.count}}</span>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
    {{#if banners}}
      <div id="myCarousel" class="carousel slide position-relative" data-bs-ride="carousel">
        <div class="carousel-inner">
          {{#each banners as |banner|}}
            <div class="carousel-item{{#if (equals @index 0)}} active{{/if}}">
              <a href="{{banner.url}}"><img src="{{photoProxy banner.photoUrl ../envSite.lang}}" class="d-block w-100"></a>
            </div>
          {{/each}}
        </div>
        <button class="d-none d-md-inline btn btn-light position-absolute top-50 start-0 translate-middle-y ms-2 p-0" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="bi bi-chevron-left fs-4" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="d-none d-md-inline btn btn-light position-absolute top-50 end-0 translate-middle-y me-2 p-0" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="bi bi-chevron-right fs-4" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="position-absolute bottom-1 end-0 badge rounded-pill bg-secondary"><span id="activeSlide">1</span>/<span id="totalSlides"></span></div>
      </div>
    {{/if}}
  </div>
</div>
<div class="d-grid gap-2">
  <button class="btn btn-success d-block d-lg-none my-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive1" aria-controls="offcanvasResponsive1">
    {{envSite.i18n.aCatGoods}}
  </button>
</div>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  {{#each objects as |object|}}
    <div class="col">
      <div class="card text-center h-100">
        <a href="/o/{{object.id}}">
          <img src="{{photoProxy object.img1 ../envSite.lang}}" class="card-img-top" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" alt="{{object.name}}">
        </a>
        <div class="card-body">
          <h5>
            <a href="/o/{{object.id}}">{{object.name}}</a>
            <div class="mt-2">
              <a href="{{photoProxy object.img2 ../envSite.lang}}" class="js-smartphoto-single text-decoration-none" title="zoom" data-caption="{{object.name}}">
                <img src="/icons/zoom-in.svg" width="28" height="28" class="me-2" alt="zoom img">
              </a>
              <a href="https://t.me/share/url?url={{encodeUrl ../envSite.botName object.id "c" "c"}}&text={{encode object.name envSite.i18n.aCatGoods}}" target="_blank">
                <i class="bi bi-telegram fs-4"></i>
              </a>
            </div>
          </h5>
          <p class="card-text">
            {{object.description}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{object.address}}
          </li>
          <li class="list-group-item">
            {{#each object.phoneArray as |phone|}}
              <a href="tel:{{phone}}" class="text-decoration-none"><i class="bi bi-telephone-fill"></i> {{phone}}</a>
            {{/each}}
          </li>
          <li class="list-group-item">
            <a href="//t.me/{{../envSite.chatName}}" target="_blank"><i class="bi bi-telegram"></i> Чат @{{../envSite.chatName}}</a>
          </li>
          <li class="list-group-item">
            <div class="d-grid gap-2">
              <a href="/o/{{object.id}}/c"  class="btn btn-success"><i class="bi bi-folder2"></i> {{../envSite.i18n.aCatGoods}}</a>
            </div>
          </li>
        </ul>
        <div class="card-footer">
          <div class="d-grid gap-2">
            <a href="/o/{{object.id}}/cart"  class=" btn btn-success position-relative mt-2">
              <span class="text-nowrap"><i class="bi bi-cart3"></i> {{formatNumber object.cartInfo.totalSum}} {{../envSite.currency}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                {{object.cartInfo.cartCount}}
                <span class="visually-hidden">count goods</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="row mt-3">
  {{#each envSite.i18n.siteSeoText as |text|}}
    <h2>{{@key}}</h2>
    <p class="lead">
      {{text}}
    </p>
  {{/each}}
</div>
<div class="accordion mt-3" id="accordionExample">
  {{#each envSite.i18n.siteSeoQuestion as |answer|}}
    <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
          <div itemprop="name">{{@key}}</div>
        </button>
      </h2>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse{{@index}}" class="accordion-collapse collapse {{#unless @index}}show{{/unless}}" aria-labelledby="headingOne">
        <div itemprop="text" class="accordion-body">
          {{answer}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{#if envSite.postId}}
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mt-3">
  <div class="col">
    <div class="card p-2">
      <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-post="{{envSite.channel}}/{{envSite.postId}}" data-width="100%"></script>
      <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-discussion="{{envSite.channel}}/{{envSite.postId}}" data-comments-limit="5"></script>
    </div>
  </div>
</div>
{{/if}}