<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
  {{#each objects as |object|}}
    <div class="col">
      <div class="card text-center h-100">
        <img src="{{object.imgUrl}}" class="card-img-top" alt="{{object.name}}">
        <div class="card-body">
          <h5 class="card-title">{{object.name}}</h5>
          <p class="card-text">
            <a href="/o/{{object.id}}">{{object.name}}</a>
            <a href="/o/{{object.id}}/cart">Корзина ({{object.cartCountGoods}})</a>
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  {{/each}}
</div>
