<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  {{#each objects as |object|}}
    <div class="col">
      <div class="card text-center h-100">
        <a href="/o/{{object.id}}">
          <img src="{{object.img1}}" class="card-img-top" onerror="this.src = '/icons/photo_error.svg';" alt="{{object.name}}">
        </a>
        <div class="card-body">
          <h5>
            <a href="/o/{{object.id}}">{{object.name}}</a>
            <a href="//t.me/RzkCrimeaBot?start=o_{{object.id}}_c_c" target="_blank" class="ps-1 text-decoration-none">
              <i class="bi bi-telegram"></i>
            </a>
            <a href="{{object.img2}}" class="js-smartphoto-single" data-caption="{{object.name}}">
              <img src="/icons/search.svg" width="24" height="24" class="m-2">
            </a>
          </h5>
          <p class="card-text">
            {{object.description}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{object.address}}
          </li>
          <li class="list-group-item">
            {{#each object.phoneArray as |phone|}}
              <a href="tel:{{phone}}" class="text-decoration-none">{{phone}}</a>
            {{/each}}
          </li>
          <li class="list-group-item">
            <a href="/o/{{object.id}}/c"  class="btn btn-primary"><i class="bi bi-folder2"></i> Каталог</a>
          </li>
        </ul>
        <div class="card-footer">
          <a href="/o/{{object.id}}/cart"  class="text-nowrap btn btn-primary position-relative">
            <i class="bi bi-cart3"></i> {{object.cartInfo.totalSum}} {{../currencyName}}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{object.cartInfo.cartCount}}
              <span class="visually-hidden">count goods</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
