<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/{{#if (equals envSite.data.lang "ru-ua")}}ru{{/if}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover"><i class="bi bi-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">{{envSite.i18n.tSeller}} {{object.name}}</li>
  </ol>
</nav>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col">
    <div class="card text-center">
      <a href="{{photoProxy object.img2 envSite.lang}}" class="js-smartphoto-single" data-caption="{{object.name}}">
        <img src="{{photoProxy object.img1 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{object.name}}">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          {{object.name}}
        </h5>
        <p class="card-text">
          {{object.description}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{object.address}}
        </li>
        <li class="list-group-item">
          {{#each object.phoneArray as |phone|}}
            <a href="tel:{{phone}}" class="text-decoration-none"><i class="bi bi-telephone-fill"></i> {{phone}}</a>
          {{/each}}
        </li>
        <li class="list-group-item">
          <a href="//t.me/{{envSite.chatName}}" target="_blank"><i class="bi bi-telegram"></i> Чат @{{envSite.chatName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{#if products}}
  <h1 class="display-6 mt-3">{{envSite.i18n.aCatGoods}} TOP40 <a href="/search/?seller={{url object.name}}">{{envSite.i18n.aAllGoods}}</a></h1>
  <div id="products" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 my-2">
    {{#each products as |product|}}
      {{> product product=product envSite=../envSite}}
    {{/each}}
  </div>
{{/if}}