<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Торговые объекты</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
  </ol>
</nav>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col">
    <div class="card text-center">
      <img src="{{object.imgUrl}}" class="card-img-top" onerror="this.src = '/icons/photo_error.svg';" alt="{{object.name}}">
      <div class="card-body">
        <h5 class="card-title">
          {{object.name}}
          <a href="//t.me/RzkCrimeaBot?start=o_{{object.id}}_c_c" target="_blank" class="ps-1 text-decoration-none">
            <i class="bi bi-telegram"></i>
          </a>
        </h5>
        <p class="card-text">
          {{object.description}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{object.address}}
        </li>
        <li class="list-group-item">
          {{#each object.phoneArray as |phone|}}
            <a href="tel:{{phone}}" class="text-decoration-none">{{phone}}</a>
          {{/each}}
        </li>
        <li class="list-group-item">
          <a href="/o/{{object.id}}/c" class="btn btn-primary">Каталог товаров</a>
        </li>
      </ul>
      <div class="card-footer">
        <a href="/o/{{object.id}}/cart"  class="btn btn-primary position-relative">
          <i class="bi bi-cart3"></i> Корзина {{object.cartInfo.totalSum}} {{currencyName}}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{object.cartInfo.cartCount}}
            <span class="visually-hidden">count goods</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
