<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{envSite.i18n.aObjects}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
  </ol>
</nav>
<h1>{{object.name}}</h1>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col">
    <div class="card text-center">
      <a href="{{photoProxy object.img2 envSite.lang}}" class="js-smartphoto-single" data-caption="{{object.name}}">
        <img src="{{photoProxy object.img1 envSite.lang}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{object.name}}">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          {{object.name}}
          <div class="mt-2">
            <a href="https://t.me/share/url?url={{encodeUrl envSite.botName object.id "c" "c"}}&text={{encode object.name envSite.i18n.aCatGoods}}" target="_blank">
              <i class="bi bi-telegram fs-4"></i>
            </a>
          </div>
        </h5>
        <p class="card-text">
          {{object.description}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{object.address}}
        </li>
        <li class="list-group-item">
          {{#each object.phoneArray as |phone|}}
            <a href="tel:{{phone}}" class="text-decoration-none"><i class="bi bi-telephone-fill"></i> {{phone}}</a>
          {{/each}}
        </li>
        <li class="list-group-item">
          <a href="//t.me/{{envSite.chatName}}" target="_blank"><i class="bi bi-telegram"></i> Чат @{{envSite.chatName}}</a>
        </li>
        <li class="list-group-item">
          <div class="d-grid gap-2">
            <a href="/o/{{object.id}}/c" class="btn btn-success"><i class="bi bi-folder2"></i> {{envSite.i18n.aCatGoods}}</a>
          </div>
        </li>
      </ul>
      <div class="card-footer">
        <div class="d-grid gap-2">
          <a href="/o/{{object.id}}/cart"  class="btn btn-success position-relative mt-2">
            <span class="text-nowrap"><i class="bi bi-cart3"></i> {{formatNumber object.cartInfo.totalSum}} {{envSite.currency}}</span>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              {{object.cartInfo.cartCount}}
              <span class="visually-hidden">count goods</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if object.postId}}
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mt-3">
  <div class="col">
    <div class="card p-2">
      <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-post="{{envSite.channel}}/{{object.postId}}" data-width="100%"></script>
      <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-discussion="{{envSite.channel}}/{{object.postId}}" data-comments-limit="5"></script>
    </div>
  </div>
</div>
{{/if}}