<div>
  <div itemtype="https://schema.org/Product" itemscope>
    <meta itemprop="mpn" content="{{product.id}}" />
    <meta itemprop="name" content="{{product.name}}" />
    <link itemprop="image" href="{{product.img1}}" />
    <link itemprop="image" href="{{product.img2}}" />
    <meta itemprop="description" content="Маркетплейс розеток та вимикачів" />
    <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
      <meta itemprop="price" content="{{product.price}}" />
      <link itemprop="url" href="{{product.url}}" />
      <meta itemprop="priceCurrency" content="{{envSite.priceCurrency}}" />
      <meta itemprop="availability" content="https://schema.org/InStock" />
    </div>
    <meta itemprop="sku" content="{{product.id}}" />
    {{#if product.brand}}
      <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
        <meta itemprop="name" content="{{product.brand}}" />
      </div>
    {{/if}}
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="/"><span itemprop="name">{{envSite.i18n.aObjects}}</span></a>
       <meta itemprop="position" content="1" />
    </li>
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="/o/{{object.id}}"><span itemprop="name">{{object.name}}</span></a>
       <meta itemprop="position" content="2" />
    </li>
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="/o/{{object.id}}/c"><span itemprop="name">{{envSite.i18n.aCatGoods}}</span></a>
       <meta itemprop="position" content="3" />
    </li>
    {{#each product.pathArray as |item|}}
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="/o/{{../object.id}}/c/{{item.url}}"><span itemprop="name">{{item.name}}</span></a>
        <meta itemprop="position" content="{{inc @index}}" />
      </li>
    {{/each}}
  </ol>
</nav>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 pb-3">
  {{> product product=product object=object envSite=envSite smartPhoto=true}}
</div>
{{#if product.tagsNames}}
  <h3>Tags</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each product.tagsNames as |tag|}}
      <div class="col">
        <div class="card text-center h-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/o/{{../object.id}}/c/{{../product.tagPath}}?tag={{url tag}}">{{tag}}</a></li>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if photos}}
  <h3>Фото</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each photos as |photo|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{photo.img2}}" class="js-smartphoto" data-caption="{{../product.name}}">
            <img src="{{photo.img1}}" onerror="this.src = '/icons/photo_error_{{envSite.lang}}.svg';" class="card-img-top" alt="{{../product.name}}">
          </a>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
