<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{envSite.i18n.aObjects}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}/c">{{envSite.i18n.aCatGoods}}</a></li>
    <li class="breadcrumb-item">
      <a href="/o/{{object.id}}/c/{{product.catalog.parentId}}"><i class="bi bi-arrow-left"></i> ..</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="/o/{{object.id}}/c/{{product.catalog.id}}">{{product.catalog.name}}</a>
    </li>
  </ol>
</nav>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 pb-3">
  {{> product product=product object=object envSite=envSite smartPhoto=true}}
</div>
{{#if product.tagsNames}}
  <h3>Tags</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each product.tagsNames as |tag|}}
      <div class="col">
        <div class="card text-center h-100">
          <ul class="list-group list-group-flush">
            {{#if tag.hidden}}
              <li class="list-group-item"><a href="/o/{{../object.id}}/c?tag={{tag.id}}">{{tag.name}} Global</a></li>
            {{else}}
              <li class="list-group-item"><a href="/o/{{../object.id}}/c/{{../product.catalog.id}}?tag={{tag.id}}">{{tag.name}}</a></li>
              <li class="list-group-item"><a href="/o/{{../object.id}}/c?tag={{tag.id}}">{{tag.name}} Global</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if photos}}
  <h3>Фото</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each photos as |photo|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{photo.img2}}" class="js-smartphoto" data-caption="{{../product.name}}">
            <img src="{{photo.img1}}" onerror="this.src = '/icons/photo_error.svg';" class="card-img-top" alt="{{../product.name}}">
          </a>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
