<ol class="breadcrumb text-nowrap">
  <li class="breadcrumb-item">
    <a href="/{{#if (equals envSite.data.lang "ru-ua")}}ru{{/if}}">{{envSite.i18n.aObjects}}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}/o/{{object.id}}">{{object.name}}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}/o/{{object.id}}/c">{{envSite.i18n.aCatGoods}}</a>
  </li>
  <li class="breadcrumb-item d-block d-md-none">
    ...
  </li>
  {{#each product.pathArray as |item|}}
    <li class="breadcrumb-item {{#if (last @index ../product.pathArray.length 3)}}d-none d-md-inline{{/if}}">
      <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}/o/{{../object.id}}/c/{{item.url}}">
      {{#if (equals ../envSite.data.lang "ru-ua")}}
        {{#if item.nameRu}}
          {{item.nameRu}}
        {{else}}
          {{item.name}}
        {{/if}}
      {{else}}
        {{item.name}}
      {{/if}}
      </a>
    </li>
  {{/each}}
</ol>
<h1>{{object.name}} / {{#if product.brand}}{{product.brand}} / {{/if}}{{product.name}}</h1>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 my-3">
  {{> product product=product object=object envSite=envSite smartPhoto=true}}
</div>
{{#if product.tags}}
  <h3>Tags</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each product.tags as |tag|}}
      <div class="col">
        <div class="card text-center h-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}/o/{{../object.id}}/c/{{../product.tagPath}}?tag={{url tag}}">{{tag}}</a></li>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if photos}}
  <h3>Фото</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each photos as |photo|}}
      <div class="col">
        <div class="card text-center h-100">
          <a href="{{photoProxy photo.img2 ../envSite.lang}}" class="js-smartphoto" data-caption="{{../product.name}}">
            <img src="{{photoProxy photo.img1 ../envSite.lang}}" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" class="card-img-top" alt="{{../product.name}}">
          </a>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if product.desc}}
  <p class="lead"><h2>{{product.desc}}</h2></p>
{{/if}}