<h1><a href="/o/{{object.id}}">{{object.name}}</a></h1>
<h1>{{object.phoneNumber}}</h1>
<h1>{{object.address}}</h1>
<h1>{{object.description}}</h1>
<h1>
    <a href="/o/{{object.id}}/c/{{product.catalog.parentId}}">..</a> /
    <a href="/o/{{object.id}}/c/{{product.catalog.id}}">{{product.catalog.name}}</a>
  </h1>
<h1>{{product.name}}</h1>
<h1>{{product.id}}</h1>
<h1>{{product.price}} {{currencyName}}</h1>

<button type="button" class="btn {{#if product.qty}}btn-success{{else}}btn-primary{{/if}}" data-bs-toggle="modal" data-bs-target="#cartAddModal" data-bs-id="{{product.id}}" data-bs-name="{{product.name}}" data-bs-unit="{{product.unit}}" data-bs-qty="{{product.qty}}">
  {{#if product.qty}}{{product.qty}} {{product.unit}} {{product.sum}} {{currencyName}}{{else}}Добавить товар{{/if}}
</button>

{{> modalAddToCart}}
