<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/{{#if (equals envSite.data.lang "ru-ua")}}ru{{/if}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover"><i class="bi bi-house"></i></a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{#if (equals envSite.data.lang "ru-ua")}}/ru{{/if}}/c" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">{{envSite.i18n.aCatGoods}}</a>
  </li>
  {{#if (last 1 product.pathArray.length 2)}}
  <li class="breadcrumb-item d-block d-md-none">
    ...
  </li>
  {{/if}}
  {{#each product.pathArray as |item|}}
    <li class="breadcrumb-item {{#if (last @index ../product.pathArray.length 3)}}d-none d-md-inline{{/if}}">
      <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}/c/{{item.url}}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">
      {{#if (equals ../envSite.data.lang "ru-ua")}}
        {{#if item.nameRu}}
          {{item.nameRu}}
        {{else}}
          {{item.name}}
        {{/if}}
      {{else}}
        {{item.name}}
      {{/if}}
      </a>
    </li>
  {{/each}}
</ol>
<h1>{{#if product.brand}}{{product.brand}} / {{/if}}{{product.name}}</h1>
<div class="row g-3 my-3">
  {{> product product=product envSite=envSite smartPhoto=true}}
  <div class="col-md-7 col-lg-7 lead">
    {{{product.desc}}}
    <h3>
    {{#each product.tags as |tag|}}
      <a href="{{#if (equals ../envSite.data.lang "ru-ua")}}/ru{{/if}}/c/{{../product.tagPath}}?tag={{url tag}}"><span class="badge text-bg-primary">{{tag}}</span></a>
    {{/each}}
    </h3>
  </div>
</div>
{{#if photos}}
  <h3>Фото</h3>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 mb-3">
    {{#each photos as |photo|}}
      <div class="col">
        <a href="{{photoProxy photo.img2 ../envSite.lang}}" class="js-smartphoto" data-caption="{{../product.name}}">
          <img src="{{photoProxy photo.img2 ../envSite.lang}}" onerror="this.src = '/icons/photo_error_{{../envSite.lang}}.svg';" class="img-fluid" alt="{{../product.name}}">
        </a>
      </div>
    {{/each}}
  </div>
{{/if}}