<h1><a href="/o/{{object.id}}">{{object.name}}</a></h1>
<h1>{{object.phoneNumber}}</h1>
<h1>{{object.address}}</h1>
<h1>{{object.description}}</h1>
<h1>Оформить заказ</h1>
<form id="purchase" action="/o/{{object.id}}/cart/purchase">
  <div class="mb-3">
    <label for="lastName" class="form-label">Фамилия получателя</label>
    <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="lastName" required autofocus>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">Имя получателя</label>
    <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="firstName" required>
  </div>
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Моб. номер телефона</label>
    <input type="tel" pattern="{{phoneregexp}}" title="{{phonetemplate}}" class="form-control" name="phoneNumber" id="phoneNumber" aria-describedby="phoneNumber" required>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Адрес</label>
    <input type="text" class="form-control" name="address" id="address" aria-describedby="address" required>
  </div>
  <div class="mb-3">
    <label for="carrierId" class="form-label">Способ доставки</label>
    <select name="carrierId" id="carrierId" class="form-select" aria-label="carrierId">
      {{#each carriers as |carrier|}}
        <option value="{{carrier.id}}">{{carrier.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="carrierNumber" class="form-label">Номер отделения</label>
    <input type="number" min="1" class="form-control is-valid" name="carrierNumber" id="carrierNumber" aria-describedby="validationServer05Feedback">
    <div id="validationServer05Feedback" class="invalid-feedback">
      Looks good!
    </div>
  </div>
  <div class="mb-3">
    <label for="paymentId" class="form-label">Способ доставки</label>
    <select name="paymentId" id="paymentId" class="form-select" aria-label="paymentId">
      {{#each payments as |payment|}}
        <option value="{{payment.id}}">{{payment.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">Комментарий</label>
    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Оформить заказ</button>
</form>
<script>
  const form = document.getElementById("purchase");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: new FormData(form),
      });
      const order = await response.json();
      if (!response.ok) {
        throw new Error(order);
      }
      console.log(JSON.stringify(order));
    } catch (errors) {
      console.log(JSON.stringify(errors));
      for (const [key, error] of Object.entries(errors.message)) {
        console.log(key, error);
      }
    }
  });
</script>
