<h1><a href="/o/{{object.id}}">{{object.name}}</a></h1>
<h1>{{object.phoneNumber}}</h1>
<h1>{{object.address}}</h1>
<h1>{{object.description}}</h1>
<h1>Оформить заказ</h1>
<form id="purchase">
  <div class="mb-3">
    <label for="lastName" class="form-label">Фамилия получателя</label>
    <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="lastName">
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">Имя получателя</label>
    <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="firstName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  const form = document.getElementById("purchase");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    alert(formData.get("firstName"));
    try {
      const response = await fetch("/cart/purchase", {
        method: "POST",
        body: formData,
      });
      const productRes = await response.json();
      if (!response.ok) {
        throw new Error(productRes.error);
      }
      console.log(JSON.stringify(productRes));
    } catch (error) {
      alert(error);
    }
  });
</script>
