<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{envSite.i18n.aObjects}}</a></li>
    <li class="breadcrumb-item"><a href="/o/{{object.id}}">{{object.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{envSite.i18n.order}}</li>
  </ol>
</nav>
<h4>
  {{object.name}} / {{envSite.i18n.order}} #{{shareOrder.orderNumber}}, {{shareOrder.lastName}} {{shareOrder.firstName}}, Статус: {{shareOrder.status}}
  (<small ="text-muted">{{shareOrder.createdAt}}</small>)
</h4>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption>{{envSite.i18n.tQty}} {{totalQty}}, {{envSite.i18n.tSum}} <strong class="text-nowrap">{{formatNumber totalSum}} {{envSite.currency}}</strong></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{envSite.i18n.product.code}}</th>
        <th scope="col">{{envSite.i18n.product.name}}</th>
        <th scope="col">{{envSite.i18n.tQty}}</th>
        <th scope="col">{{envSite.i18n.product.price}}</th>
        <th scope="col">{{envSite.i18n.tSum}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each products as |product|}}
      <tr>
        <th scope="row">{{product.index}}</th>
        <td><strong class="text-nowrap">{{product.id}}</strong></td>
        <td><a href="{{product.url}}">{{product.name}}</a></td>
        <td><strong class="text-nowrap">{{product.qty}} {{product.unit}}</strong></td>
        <td><strong class="text-nowrap">{{formatNumber product.price}} {{../envSite.currency}}</strong></td>
        <td><strong class="text-nowrap">{{formatNumber product.sum}} {{../envSite.currency}}</strong></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
