<!doctype html>
  <html lang="ru">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/dist/index.1bbda903.css">
      <script type="module" src="/dist/index.bdae73ad.js"></script>
      <title>{{#if title}}{{title}} - {{/if}}Маркетплейс RZK Маркет Крым: купить элетротовары, кабель, провод, автоматика, лампы в Крыму</title>
      <link rel="icon" href="/logo.svg">
      <meta name="description" content="{{#if description}}{{description}}{{else}}Маркетплейс RZK Маркет Крым: кабель, провод, розетки, выключатели,
      автоматика. ✓ Доставка по всему Крыму $ Выгодные цены и скидки %{{/if}}">
      <meta name="keywords" content="{{keywords}}, rzk маркет крым, rzk, надир абсеметов">
      <meta name="robots" content="index,follow">
      <meta name="author" content="Nadir Absemetov">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TD3C9HNSL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9TD3C9HNSL');
      </script>
    </head>
    <body>
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler d-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="d-none d-md-inline px-2" href="/">
            <img src="/logo-long.svg" alt="" width="" height="40">
          </a>
          <a class="d-inline d-md-none px-2" href="/">
            <img src="/logo.svg" alt="" width="" height="40">
          </a>
          <div id="autocomplete" class="w-100"></div>
          {{#if object.id}}
            <ul class="navbar-nav me-2">
              <li class="nav-item"></li>
                <a class="text-nowrap nav-link{{#if cart}} active{{/if}} position-relative" href="/o/{{object.id}}/cart">
                  Корзина <strong id="totalSumNav">{{object.cartInfo.totalSum}} {{currencyName}}</strong>
                  <span id="cartCountNav" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-1">
                    {{object.cartInfo.cartCount}}
                    <span class="visually-hidden">count goods</span>
                  </span>
                </a>
              </li>
            </ul>
          {{/if}}
        </div>
      </nav>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RZK Маркет Крым</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p class="lead">RZK Маркет Крым - это маркетплейс, здесь можно купить товары по выгодным ценам напрямую со склада.
            Мы полностью контролируем процесс обработки заказа.
            С нами легко, быстро и удобно!
          </p>
          <nav class="nav flex-column">
            {{#if user.auth}}
              <a class="nav-link" href="/login">{{user.firstName}}</a>
            {{else}}
              <a class="nav-link" href="/login">Войти</a>
            {{/if}}
            <a class="nav-link" href="/delivery-info">Доставка и оплата</a>
            <a class="nav-link" href="/return-policy">Обмен и возврат</a>
            <a class="nav-link" href="//maps.app.goo.gl/F46h38LnK3Dq3jC7A">Оставить отзыв</a>
            <a class="nav-link" href="tel:+79788986431">+7 978 89 86 431</a>
            <a class="nav-link text-decoration-none" href="//t.me/RzkCrimeaBot?start=fromsite">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
              </svg>
              @RzkCrimeaBot
            </a>
            <a class="nav-link disabled">rzk-warsaw-ru v.2.0.0 © 2022</a>
            <a class="nav-link" href="//absemetov.org.ua/">Nadir Absemetov</a>
          </nav>
        </div>
      </div>
      <div class="container d-none pt-2" id="search">
        <div class="d-grid gap-2">
          <button class="btn btn-primary d-block d-lg-none mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Фильтр</button>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Фильтр</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body flex-column">
                <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Каталог
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body p-0">
                        <div id="hierarchical-menu" class="list-group list-group-flush py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                        Бренд
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-brand" class="py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true" aria-controls="panelsStayOpen-collapse3">
                        Категория
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading3">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-subcategory" class="list-group py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading4">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                        Продавец
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading4">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-seller" class="list-group py-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="powered-by" class="pt-2"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-9">
            <div class="row">
              <nav id="breadcrumb" aria-label="breadcrumb"></nav>
            </div>
            <ul id="current-refinements" class="nav"></ul>
            <div id="loading-indicator">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div id="hits" class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2"></div>
            <div class="row pt-2">
              <nav id="pagination" aria-label="Page navigation example"></nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-2"  id="main">
        {{{body}}}
      </div>
      <!-- Modal show product -->
      <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productModalLabel">Просмотр</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal cart -->
      <div class="modal fade" id="cartAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addToCartForm">
              <div class="modal-body">
                <div class="input-group mb-3">
                  <input type="number" min="0" id="qty" name="qty" class="form-control" placeholder="Введите количество товара" aria-label="Введите количество товара" aria-describedby="basic-addon2">
                  <span class="input-group-text" id="basic-addon2"></span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="deleteFromCart" class="btn btn-danger">Удалить</button>
                <button type="submit" id="addToCart" class="btn btn-primary" data-object-currencyName="₽">Купить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
