<!doctype html>
  <html lang="ru">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/css/navbar-top-fixed.css" rel="stylesheet">
      <title>{{#if title}}{{title}} - {{/if}}Маркетплейс RZK Маркет Крым: купить элетротовары, кабель, провод, автоматика, лампы в Крыму</title>
      <link rel="icon" href="/logo.svg">
      <meta name="description" content="{{#if description}}{{description}}{{else}}Маркетплейс RZK Маркет Крым: кабель, провод, розетки, выключатели,
      автоматика. ✓ Доставка по всему Крыму $ Выгодные цены и скидки %{{/if}}">
      <meta name="keywords" content="{{keywords}}, rzk маркет крым, rzk, надир абсеметов">
      <meta name="robots" content="index,follow">
      <meta name="author" content="Nadir Absemetov">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TD3C9HNSL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9TD3C9HNSL');
      </script>
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler d-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="d-none d-sm-inline ps-3 me-auto" href="/">
            <img src="/logo-long.svg" alt="" width="" height="40">
          </a>
          <a class="d-inline d-sm-none ps-3 me-auto" href="/">
            <img src="/logo.svg" alt="" width="" height="40">
          </a>
          <ul class="navbar-nav">
            {{#if object.id}}
            <li class="nav-item"></li>
              <a class="text-nowrap nav-link{{#if cart}} active{{/if}}" href="/o/{{object.id}}/cart">Корзина (<span id="cartCount">{{object.cartCount}}</span>)</a>
            </li>
            {{/if}}
            <li class="nav-item">
              {{#if user.auth}}
                <a class="nav-link{{#if login}} active{{/if}}" href="/login">{{user.firstName}}</a>
              {{else}}
                <a class="nav-link{{#if login}} active{{/if}}" href="/login">Войти</a>
              {{/if}}
            </li>
          </ul>
        </div>
      </nav>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RZK Маркет Крым</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p class="lead">RZK Маркет Крым - это маркетплейс, здесь можно купить товары по выгодным ценам напрямую со склада.
            Мы полностью контролируем процесс обработки заказа.
            С нами легко, быстро и удобно!
          </p>
          <nav class="nav flex-column">
            <a class="nav-link" href="/delivery-info">Доставка и оплата</a>
            <a class="nav-link" href="/return-policy">Обмен и возврат</a>
            <a class="nav-link" href="//maps.app.goo.gl/F46h38LnK3Dq3jC7A">Оставить отзыв</a>
            <a class="nav-link" href="tel:+79788986431">+7 978 89 86 431</a>
            <a class="nav-link" href="//t.me/RzkCrimeaBot?start=fromsite">@RzkCrimeaBot</a>
            <a class="nav-link disabled">rzk-warsaw-ru v.2.0.0 © 2022</a>
            <a class="nav-link" href="//absemetov.org.ua/">Nadir Absemetov</a>
          </nav>
        </div>
      </div>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="/js/bootstrap.bundle.min.js"></script>
      <div class="container-fluid">
        {{{body}}}
      </div>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
      -->
    </body>
  </html>
