<!doctype html>
  <html lang="{{envSite.lang}}">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/assets/index.9b2ac77a.css">
      <script type="module" src="/assets/index.b52faa6e.js"></script>
      <title>{{#if title}}{{title}} - {{/if}}{{envSite.i18n.siteTitle}}</title>
      <link rel="icon" href="/favicon-{{envSite.lang}}.ico">
      <link rel="icon" href="/logo/logo-{{envSite.lang}}.svg" type="image/svg+xml">
      <meta name="description" content="{{#if description}}{{description}}{{else}}{{envSite.i18n.siteDesc}}{{/if}}">
      <meta name="keywords" content="{{keywords}}, {{envSite.i18n.siteKeywords}}">
      <meta name="robots" content="index,follow">
      <meta name="author" content="Nadir Absemetov - absemetov.org.ua">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{envSite.gtag}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", "{{envSite.gtag}}");
      </script>
    </head>
    <body>
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler d-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="d-none d-md-inline mx-2" href="/">
            <img src="/logo/logo-long-{{envSite.lang}}.svg" alt="{{envSite.i18n.siteName}}" height="40">
          </a>
          <a class="d-inline d-md-none mx-2" href="/">
            <img src="/logo/logo-{{envSite.lang}}.svg" alt="{{envSite.i18n.siteName}}" height="40">
          </a>
          <div id="autocomplete" class="w-100"></div>
          {{#if object.id}}
            <ul class="navbar-nav me-2">
              <li class="nav-item"></li>
                <a class="text-nowrap nav-link{{#if cart}} active{{/if}} position-relative" href="/o/{{object.id}}/cart">
                  <i class="bi bi-cart3"></i> <strong id="totalSumNav">{{object.cartInfo.totalSum}} {{envSite.currency}}</strong>
                  <span id="cartCountNav" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-1">
                    {{object.cartInfo.cartCount}}
                    <span class="visually-hidden">count goods</span>
                  </span>
                </a>
              </li>
            </ul>
          {{/if}}
        </div>
      </nav>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{envSite.i18n.siteName}}</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p class="lead">{{envSite.i18n.desc}}</p>
          <nav class="nav flex-column">
            {{#if envSite.user.auth}}
              <a class="nav-link" href="/login">{{envSite.user.firstName}}</a>
            {{else}}
              <a class="nav-link" href="/login">{{envSite.i18n.aLogin}}</a>
            {{/if}}
            <a class="nav-link" href="/delivery-info">{{envSite.i18n.aDelivery}}</a>
            <a class="nav-link" href="/return-policy">{{envSite.i18n.aReturn}}</a>
            <a class="nav-link" href="{{envSite.gmaps}}">{{envSite.i18n.aReview}}</a>
            {{#each envSite.i18n.phones as |phone|}}
              <a class="nav-link" href="tel:{{phone}}">{{phone}}</a>
            {{/each}}
            <a class="nav-link" href="mailto:{{envSite.email}}">{{envSite.email}}</a>
            <a class="nav-link" href="//t.me/{{envSite.botName}}?start=fromsite">
              <i class="bi bi-telegram"></i>
              @{{envSite.botName}}
            </a>
            <a class="nav-link" href="//absemetov.org.ua/">Nadir Absemetov</a>
            <a class="nav-link disabled" href="https://github.com/absemetov/rzk-com-ua">RZK Market 2.0.0 © 2022</a>
            </nav>
        </div>
      </div>
      <div class="container d-none mt-2 mb-5" id="search">
        <div class="d-grid gap-2">
          <button class="btn btn-primary d-block d-lg-none mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
            {{envSite.i18n.btnFilter}}
          </button>
        </div>
        <div class="row">
          <div class="col fs-3" id="stats"></div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">{{envSite.i18n.btnFilter}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body flex-column">
                <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Каталог
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body p-0">
                        <div id="hierarchical-menu" class="list-group list-group-flush py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true" aria-controls="panelsStayOpen-collapse3">
                        {{envSite.i18n.tCategory}}
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading3">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-subcategory" class="list-group py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                        Бренд
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-brand" class="py-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading4">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                        {{envSite.i18n.tSeller}}
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading4">
                      <div class="accordion-body p-0">
                        <div id="refinement-list-seller" class="list-group py-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="powered-by" class="pt-2"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-9">
            <div class="row">
              <nav id="breadcrumb" aria-label="breadcrumb"></nav>
            </div>
            <ul id="current-refinements" class="nav"></ul>
            <div id="loading-indicator">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div id="hits" class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2"></div>
            <div class="row mt-4">
              <nav id="pagination" aria-label="Page navigation example"></nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-2 mb-5"  id="main">
        {{{body}}}
      </div>
      <!-- Modal show product -->
      <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="productModalLabel">{{envSite.i18n.modalShowTitle}}</h6>
              <a id="fullscreen" href="#" class="ms-2"><i class="bi bi-arrows-fullscreen"></i></a>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal cart -->
      <div class="modal fade" id="cartAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addToCartForm">
              <div class="modal-body">
                <div class="input-group mb-3">
                  <input type="number" min="0" id="qty" name="qty" class="form-control" placeholder="{{envSite.i18n.placeholderQty}}" aria-label="{{envSite.i18n.placeholderQty}}" aria-describedby="basic-addon2">
                  <span class="input-group-text" id="basic-addon2"></span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="deleteFromCart" class="btn btn-danger">{{envSite.i18n.btnDel}}</button>
                <button type="submit" id="addToCart" class="btn btn-primary" data-currency="{{envSite.currency}}" data-lang="{{envSite.lang}}" data-dev-prefix="{{envSite.devPrefix}}">{{envSite.i18n.btnBuy}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Toast -->
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast text-bg-light" data-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="/logo/logo-{{envSite.lang}}.svg" width="" height="30" class="me-2" alt="...">
            <strong class="me-auto" id="toast-seller">RZK Market UA</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
          </div>
        </div>
      </div>
    </body>
  </html>